body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/love1.jpg'); 
    background-size: auto; 
    background-position: top left; 
    background-repeat: repeat; 
    font-family: 'Arial', sans-serif; 
  }
  